.cs-portfolio_items {
  display: flex;
  // justify-content: center;
  flex-flow: row wrap;
}

.cs-portfolio_item_container {
	background: #080808;
  padding: 15px 25px;
  margin: 10px 10px;
  width: 48%;
}

@media screen and (max-width: 1199px) {
  .cs-portfolio_item_container {
    width: 47%;
  }
}

@media screen and (max-width: 991px) {
  .cs-portfolio_item_container {
    width: 100%;
  }
}