@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'default/color_variable';
@import 'default/typography';
@import 'common/general';
@import 'common/slider';
@import 'common/video-modal';
@import 'common/sidebar';
@import 'common/spacing';
@import 'shortcode/header';
@import 'shortcode/customcursor';
@import 'shortcode/hero';
@import 'shortcode/iconbox';
@import 'shortcode/card';
@import 'shortcode/cta';
@import 'shortcode/funfact';
@import 'shortcode/logolist';
@import 'shortcode/movingtext';
@import 'shortcode/portfolio';
@import 'shortcode/post';
@import 'shortcode/pricing';
@import 'shortcode/servicelist';
@import 'shortcode/team';
@import 'shortcode/testimonial';
@import 'shortcode/timeline';
@import 'shortcode/footer';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

